JWT_SECRET=hjbascbkhesf324hcsjknsdc
MONGODB_URL=mongodb+srv://yogesh3332:tCGdpj1IHnID13J4@cluster0.pwjc7nq.mongodb.net/microservice?retryWrites=true&w=majority&appName=Cluster0
NEXT_PUBLIC_API_URL=http://localhost:3000
DOCKERHUB_USERNAME=your-dockerhub-username
